.item {
  display: flex;
  align-items: center;
  padding: 8px;
  max-width: 600px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  border-radius: 8px;
  cursor: pointer;
}
.imgWrapper {
  position: relative;
  min-width: 56px;
  max-width: 56px;
  min-height: 56px;
  max-height: 56px;
  margin-right: 16px;
}
.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  border-radius: 50%;
}
.info {

}
.name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}
.text {
  font-size: 14px;
}
