* {
  box-sizing: border-box;
}





.content {
  position: relative;
  padding-left: 300px;
  min-height: calc(100vh);
}



.main-inner {
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}
